 
img{
  border-radius: 20px;
}
.head {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.right-sidebar {
  width: 100px;
  height: 700px;
  background-color: #1d1c27;
  color: white;
}
.header {
  display: flex;
  color: white;
  padding-left: 30px;
  z-index: 0;
  gap: 600px;
}
.menu ul li{
  display: flex;
  flex-direction: column;
  color: white;
}
.menu:hover ul li{
  color: #ea736d;
}
.containers{
  display: flex;
  flex-direction: row;
  align-items: center;
 gap: 150px;
}
.Body{
  display: flex;
 justify-content: space-between;
}