 
img{
  border-radius: 20px;
}
.head {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.right-sidebar {
  width: 100px;
  height: 1000px;
  background-color: #1d1c27;
  z-index: 10;
}
.header {
  display: flex;
  color: white;
  gap: 5px;
  z-index: 5;
}
.containers{
  display: grid;
  grid-template-columns: repeat(4,1fr);
 gap: 50px;
 padding-top: 10px;
 padding-left: 10px;
 z-index: 2;
}
.Body{
  display: flex;
 justify-content: space-between;
}
.search{
  padding-top: 50px;
  padding-left: 150px;
  height: 30px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px;
}
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  color: rgb(179, 171, 171);
  text-decoration: none;
  margin-left: 10px;
  padding-left: 10px;
}

nav ul li:hover {
  color: #ea736d;
  text-decoration: none;
}
.tittle {
  color: white;
  display: flex;
  flex-direction: row;
  gap:500px;
}
.sidebar{
  color: white;
}
.containers img{
  padding-bottom: 20px;
  z-index: 5;
}